<%- include('headerReceiver') -%>
<style>
    .page{
        height: 85vh;
        display: flex;
        justify-content: space-around;
    }
    .left{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .right button a{
        color: black;
        font-weight: 100;
        font-size: large;
        /* border: 1px solid black */
        color: white;
    }
    .left form {
        font-weight: bold;
    }
    form input{
        height: 40px;
        background-color: rgb(209,244,234);
        color: rgb(98,115,110);
        border-radius: 10px;
        padding: 5px;
    }
</style>
<div class="page">
    <div class="left">
        <table class="table table-striped">

            <tr>
                <th class="bg-info">Email</th>
                <th> <%= email %></th>
            </tr>
            <tr>
                <th class="bg-info">Order ID</th>
                <th> <%= orderId %></th>
            </tr>
            <tr>
                <th class="bg-info">Category</th>
                <th><%= category %></th>
            </tr>
            <tr>
                <th class="bg-info">Amount</th>
                <th><%= amount %></th>
            </tr>
            <tr>
                <th class="bg-info">Latitude </th>
                <th> <%= coordinates.latitude %></th>
            </tr>
            <tr>
                <th class="bg-info">Longitude</th>
                <th> <%= coordinates.longitude %></th>
            </tr>
            <tr>
                <th class="bg-info">Slot</th>
                <th> <%= slot %></th>
            </tr>
            <tr>
                <th class="bg-info">Contact Number</th>
                <th> <%= phoneNo %></th>
            </tr>
        </table>
        
        <form action="/route/otp" method="POST">
            <input type="number" name="orderId" value=<%= orderId %> style="display: none">
            <label for="otp"> Enter Otp to finish this order: </label>
            <input type="number" name="otp">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="right">
        <div class="singleMap" id="singleMap" style="height: 450px; width: 450px;"></div>
        <button type="button" class="btn btn-info"><a id="direction" href="" target="_blank">Directions</a></button>
    </div>
    
    
</div>





<script>
    var latitude = <%= coordinates.latitude %>;
    var longitude = <%= coordinates.longitude %>;
    var lat = 0;
    var lon = 0;
    const mymap = L.map('singleMap').setView([latitude, longitude], 15);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);
    var marker = L.marker([latitude, longitude]).addTo(mymap).bindPopup("Pickup Location").openPopup();

    if('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(position => {
            L.circle([position.coords.latitude, position.coords.longitude], {
                color: 'blue',
                fillColor: '#7669EB',
                fillOpacity: 1,
                radius: 20
            }).addTo(mymap).bindPopup("Current Location");
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            let element = document.getElementById('direction');
            let s = `https://www.google.com/maps/dir/?api=1&origin=${lat}+${lon}&destination=28.613606+77.038297&waypoints=<%= coordinates.latitude %>+<%= coordinates.longitude %>&travelmode=driving`
            element.href=s;
        });
    }
    var depotCoordinates = [28.613606, 77.038297];
    L.circle([depotCoordinates[0], depotCoordinates[1]], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 1,
                radius: 20
            }).addTo(mymap).bindPopup("Central Depot");

</script>
<%- include('footer') -%>