<%- include('headerReceiver') -%>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>Date</th>
        <th>Slot</th>
        <th>Category</th>
        <th>Address</th>
        <th>Phone No.</th>
        <th></th>
    </tr>
    <% for(var i of orders){ %>
        <tr>
            <th> <%= i.date %></th>
            <th> <%= i.slot %></th>
            <th> <%= i.category %></th>
            <th> <%= i.address %></th>
            <th> <%= i.phoneNo %></th>
            <th>
                <button type="submit" class="btn btn-primary"><a href="/route/orderdetails/<%= i.orderId %>">Details</a></button>
            </th>
        </tr>
    <% } %>
</table>
<%- include('footer') -%>