<%- include('header') -%>

<h2 style="text-align: center; padding: 10px;">Pending Pickups</h2>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>Email</th>
        <th>Date</th>
        <th>Slot</th>
        <th>Category</th>
        <th>Address</th>
    </tr>
    <% for(var i of pendingOrders){ %>
        <tr>
            <th><%= i.email %></th>
            <th><%= i.date %></th>
            <th><%= i.slot %></th>
            <th><%= i.category %></th>
            <th><%= i.address %></th>
        </tr>
    <% } %>
</table>

<h2 style="text-align: center; padding: 10px; margin-top: 20px;">Completed Pickups</h2>

<table class="table table-striped">
    <tr  class="bg-info">
        <th>Email</th>
        <th>Date</th>
        <th>Slot</th>
        <th>Category</th>
        <th>Address</th>
    </tr>
    <% for(var i of completedOrders){ %>
        <tr>
            <th><%= i.email %></th>
            <th><%= i.date %></th>
            <th><%= i.slot %></th>
            <th><%= i.category %></th>
            <th><%= i.address %></th>
        </tr>
    <% } %>
</table> 
<%- include('footer') -%>